{% extends "furfolio/layouts/title_body.html" %}

{% block title %}
    {% if chat.commissionchat %}
        Chat for commission <a href="{% url "commission_detail" chat.commissionchat.commission.pk %}" class="text-decoration-none">{{ chat.commissionchat.get_name }}</a>
    {% endif %}
    {% if chat.supportticketchat %}
        Chat for support ticket <a href="{% url "support_ticket_detail" chat.supportticketchat.support_ticket.pk %}" class="text-decoration-none">{{ chat.supportticketchat.get_name }}</a>
    {% endif %}
{% endblock %}

{% block body %}

<details class="mb-3">
    <summary>
        Participants
    </summary>
    <div class="d-flex" style="width: auto; overflow-x: scroll; white-space: nowrap;">
        {% for participant in chat.get_participants %}
            <div class="m-2">
                {% include "furfolio/users/badge.html" with user=participant show_avatar=True only %}
            </div>
        {% endfor %}
    </div>
</details>

<div
    hx-get="{% url "chat_messages_component" chat.pk %}"
    hx-trigger="every 5s"
    hx-swap="morph:innerHTML"
>
    {# initially populate chat server-side #}
    {% include "./messages.html" with messages=messages current_user=request.user only %}
</div>

<form method="post" id="chat-form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" id="chat-submit-button" class="btn btn-primary" value="Send">
</form>

{% include "furfolio/scripts/hide_on_submit.html" with form_id="chat-form" id_to_hide="chat-submit-button" only %}

{% endblock %}