{% comment "" %}
Includable message card.
Expects the following context objects:
  - text: the text
  - attachment_name: (optional) the name of the attachment
  - attachment_url: (optional) the url of the attachment
  - created_date: (optional) a date time that represents the created date time of the message
  - timesince: (optional) timesince created
  - id: the HTML id of the card.
  - sender: an enum value: "CURRENT_USER" or "NON_CURRENT_USER"
    - "CURRENT_USER": use this to make card styles as if the message is by the signed in user
    - "NON_CURRENT_USER": use this to make card styled as if the message is sent from someone else
  - user: (optional) a user object. This is used to show user for non-current-user messages
{% endcomment %}

<div id="{{ id }}" class="card {% if sender == "CURRENT_USER" %}bg-success{% elif sender == "NON_CURRENT_USER" %}{% endif %}">
    <div class="card-body">
        <div class="card-text">
            {% if sender == "NON_CURRENT_USER" %}
                {% include "../users/badge.html" with user=user only %}
            {% endif %}
            <p>
                {{ text|urlize }}
            </p>
            {% if attachment_name and attachment_url %}
            <p>
                <a href="{{ attachment_url }}">{{ attachment_name }}</a>
            </p>
            {% endif %}
            <div class="fw-light">
                {{ timesince }} ago
            </div>
        </div>
    </div>
</div>