{% comment "" %}
Presents the chat messages.
Expects the following context objects:
  - messages: a list or queryset of messages
  - current_user: the current user making this request
{% endcomment %}

{% for message in messages %}
    <div class="row mb-2">
        {% if message.author.pk == current_user.pk %}
            <div class="col-md-6"></div>
            <div class="col-md-6">
                {% if message.attachment %}
                    {% include "./message_card.html" with id=message.get_html_id timesince=message.timesince_created created_date=message.created_date text=message.message sender="CURRENT_USER" attachment_url=message.attachment.url attachment_name=message.attachment.name only %}
                {% else %}
                    {% include "./message_card.html" with id=message.get_html_id timesince=message.timesince_created created_date=message.created_date text=message.message sender="CURRENT_USER" only %}
                {% endif %}
            </div>
        {% else %}
            <div class="col-md-6">
                {% if message.attachment %}
                    {% include "./message_card.html" with id=message.get_html_id timesince=message.timesince_created created_date=message.created_date user=message.author text=message.message sender="NON_CURRENT_USER" attachment_url=message.attachment.url attachment_name=message.attachment.name only %}
                {% else %}
                    {% include "./message_card.html" with id=message.get_html_id timesince=message.timesince_created created_date=message.created_date user=message.author text=message.message sender="NON_CURRENT_USER" only %}
                {% endif %}
            </div>
            <div class="col-md-6"></div>
        {% endif %}
    </div>
{% endfor %}