{% extends "furfolio/layouts/title_body.html" %}

{% block title %}
<div class="d-flex align-items-center">
    <span class="me-2">{% include "furfolio/users/badge.html" with user=user show_avatar=True only %}</span> is following:
</div>
{% endblock %}

{% block site_title %}
{% include "furfolio/website_title.html" with title="Following" only %}
{% endblock %}

{% block body %}
{% if followed_users %}
    <div class="d-flex flex-wrap gap-3">
        {% for followed_user in followed_users %}
            {% include "furfolio/users/badge.html" with user=followed_user show_avatar=True only %}
        {% endfor %}
    </div>
{% else %}
    It seems that you are following no users.
{% endif %}
{% endblock %}