{% for hidden_field in form.hidden_fields %}
{{ hidden_field }}
{% endfor %}

{% if form.errors %}
<div class="text-danger mb-3">
    <h3>Please fix the errors below.</h3>
</div>
{% endif %}

{% for field in form.visible_fields %}
    <div class="mb-4">
        <h4>{{ field.label_tag }}</h4>
        <p>{{ field.help_text }}</p>
        <div class="row g-0">
            <div class="col-md-8">
                {{ field }}
            </div>
        </div>
        {% if field.errors %}
            <span class="text-danger">
                {{ field.errors }}
            </span>
        {% endif %}
    </div>
{% endfor %}

{% if errors %}
<div class="text-danger">
    <strong>Errors:</strong>
    {{ errors }}
</div>
{% endif %}