{% for hidden_field in form.hidden_fields %}
{{ hidden_field }}
{% endfor %}

<div class="mb-3">
    {% for field in form.visible_fields %}
        <div class="mb-1 row g-2 d-flex align-items-center">
            <div class="col-sm-2">
                {{ field.label_tag }}
            </div>
            <div class="col-sm-10">
                {{ field }}
            </div>
        </div>
    {% endfor %}
</div>

{% if errors %}
<div class="text-danger">
    <strong>Errors:</strong>
    {{ errors }}
</div>
{% endif %}