{% extends "furfolio/layouts/title_body_no_header.html" %}

{% block title %}
Login
{% endblock %}

{% block body %}

<form class="mb-3" method="post" action="{% url 'login' %}{% if next %}?next={{ next }}{% endif %}">
    {% csrf_token %}
    {{ form }}
    
    <input class="btn btn-primary mt-3" type="submit" value="login">
    <input type="hidden" name="next" value="{% if next %}{{ next }}{% else %}{% url 'home' %}{% endif %}">
</form>

<p>
    <a class="text-decoration-none" href="{% url "password_reset" %}">Forgot password?</a>
</p>

<p>
    <a class="text-decoration-none" href="{% url "signup" %}">Do not have an account? Sign up.</a>
</p>

{% endblock %}