{% extends "furfolio/layouts/title_body.html" %}

{% block title %}
Password Reset Email Sent!
{% endblock %}

{% block site_title %}
{% include "furfolio/website_title.html" with title="Link Sent" only %}
{% endblock %}

{% block body %}
<p>
Please check your inbox. You should receive an email which has a link to to reset your password.
</p>

<div class="card bg-warning">
    <div class="card-body card-text">
        If you have more than one account with the same email address, you may receive password reset links for both accounts. Please be sure that you reset the password for the correct account.
    </div>
</div>
{% endblock %}