{% extends "furfolio/layouts/title_body.html" %}

{% block title %}
{% if validlink %}
    Enter New Password
{% else %}
    Something Went Wrong
{% endif %}
{% endblock %}

{% block body %}
{% if validlink %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input class="btn btn-primary" type="submit" value="Change my password">
    </form>
{% else %}
    <p>
        Sorry, but it looks like the password reset link is invalid. Here are some possible reasons for this:
        <ul>
            <li>
                The link was already used.
            </li>
            <li>
                The link was mistyped.
            </li>
        </ul>
    </p>
{% endif %}
{% endblock %}