{% extends "furfolio/layouts/title_body_no_header.html" %}

{% block title %}
Sign Up
{% endblock %}

{% block body %}
  <form enctype="multipart/form-data" method="post" id="form">
    {% csrf_token %}
    {{ form }}

    <p>
      By clicking Sign Up, you agree that you have read the <a href="{% url "terms_of_service" %}">Terms of Service</a> and <a href="{% url "privacy_policy" %}">Privacy Policy</a>.
    </p>

    <button class="btn btn-primary mt-3" type="submit" id="signup-button">Sign Up</button>
  </form>

  {% include "furfolio/scripts/hide_on_submit.html" with form_id="form" id_to_hide="signup-button" only %}
{% endblock %}