{% extends "furfolio/layouts/title_body_no_header.html" %}

{% load honeypot %}

{% block title %}
Sign Up
{% endblock %}

{% block site_title %}
{% include "furfolio/website_title.html" with title="Sign Up" only %}
{% endblock %}

{% block body %}
  <form enctype="multipart/form-data" method="post" id="form">

    {% if is_beta %}
      <p class="p-3 border rounded bg-warning-subtle">
        Furfolio is currently in a beta testing phase. As long as you see <span>{% include "furfolio/components/beta_badge.html" %}</span>
        at the top of this website, this website is in beta. By using Furfolio and creating an account, you
        understand that there is a possibility of data loss and feature loss as long as Furfolio is in beta.
      </p>
    {% endif %}

    {% csrf_token %}
    {{ form }}

    {% render_honeypot_field %}

    <p>
      By clicking Sign Up, you agree that you have read and agreed to the <a href="{% url "terms_of_service" %}" target="_blank" rel="noopener noreferrer">Terms of Service</a> and <a href="{% url "privacy_policy" %}" target="_blank" rel="noopener noreferrer">Privacy Policy</a>.
    </p>

    <button class="btn btn-primary mt-3" type="submit" id="signup-button">Sign Up</button>
  </form>

  {% include "furfolio/scripts/hide_on_submit.html" with form_id="form" id_to_hide="signup-button" only %}
{% endblock %}