{% extends "furfolio/layouts/title_body.html" %}

{% block title %}
<div class="d-flex align-items-center">
    <img class="me-3" src="{% include "./avatar_image_url.txt" with user=user only %}">{{ user.username }}

    <div class="flex-fill"></div>

    {% if user.pk == request.user.pk %}
        <a href="{% url "update_user" user.username %}"><button class="btn btn-primary">Settings</button></a>
    {% else %}
        {% if is_user_followed %}
            <form method="post" action="{% url "unfollow_user" user.username %}?next={{ request.get_full_path|urlencode }}">
                {% csrf_token %}
                <button class="btn btn-primary">Unfollow</button>
            </form>
        {% else %}
            <form method="post" action="{% url "follow_user" user.username %}?next={{ request.get_full_path|urlencode }}">
                {% csrf_token %}
                <button class="btn btn-primary">Follow</button>
            </form>
        {% endif %}
    {% endif %}
</div>
{% endblock %}

{% block body %}
<a class="btn btn-primary" href="{% url "offer_list" %}?author={{ user.username }}&sort=created_date">Offers</a>
{% endblock %}