{% extends "furfolio/layouts/title_body.html" %}

{% load static %}

{% block title %}
<img class="me-3" src="{% include "./avatar_image_url.txt" with user=user only %}">{{ user.username }}
{% endblock %}

{% block title_class %}
mb-2
{% endblock %}

{% block body %}
<div class="d-flex flex-wrap gap-3">
    {% if user.pk == request.user.pk %}
        <div class="dropdown text-reset">
            <button class="btn btn-primary dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                <img class="me-2" src={% static "symbols/gear-white.svg" %} style="width: 1.5em;"> Settings
            </button>
            <ul class="dropdown-menu">
                <li>
                    <a class="fw-bold text-reset text-decoration-none dropdown-item" href="{% url "update_user_profile" user.username %}">Profile</a>
                </li>
                <li>
                    <a class="fw-bold text-reset text-decoration-none dropdown-item" href="{% url "update_user_account" user.username %}">Account</a>
                </li>
            </ul>
        </div>
        
        <a class="btn btn-primary" href="{% url "followed_list" user.username %}">Followed</a>
    {% else %}
        {% if is_user_followed is True %}
            <form method="post" action="{% url "unfollow_user" user.username %}?next={{ request.get_full_path|urlencode }}">
                {% csrf_token %}
                <button class="btn btn-primary">Unfollow</button>
            </form>
        {% elif is_user_followed is False %}
            <form method="post" action="{% url "follow_user" user.username %}?next={{ request.get_full_path|urlencode }}">
                {% csrf_token %}
                <button class="btn btn-primary">Follow</button>
            </form>
        {% endif %}
    {% endif %}

    {# TODO: extract query url into python context #}
    <a class="btn btn-primary" href="{% url "offer_list" %}?author={{ user.username }}&sort=created_date">Offers</a>
</div>

<hr>

<p>
    {{ user.profile|linebreaks|urlize }}
</p>
{% endblock %}