{% extends "base.html" %}

{% load query_replace %}
{% load static %}

{% block content %}
<form method="get" class="mb-3">
    {{ search_form }}
</form>

{% for user in users %}
    <div class="mb-3">
        {% include "./user_card.html" with user=user show_avatar=True only %}
    </div>
{% endfor %}

{% if is_paginated %}
<div class="d-flex justify-content-center">
    {% include "furfolio/components/pagination_buttons.html" with page_obj=page_obj request=request page_range=page_range only %}
</div>
{% endif %}

{% endblock %}