{% extends "furfolio/layouts/title_body.html" %}

{% block title %}
<div class="d-flex align-items-center">
    <img class="me-3" src="{% include "./avatar_image_url.txt" with user=user only %}">{{ user.username }}

    <div class="flex-fill"></div>

    {% if user.pk == request.user.pk %}
        <div class="d-flex justify-content-end">
            <a href="{% url "update_user" user.username %}"><button class="btn btn-primary">Settings</button></a>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block body %}
<a class="btn btn-primary" href="{% url "user_offers" user.username %}">Offers</a>
{% endblock %}