{% comment "" %}
A list of notifications component.
Expects the following context objects:
  - notifications: a list of notifications
{% endcomment %}

<div class="list-group">
    {% for notification in notifications %}
        {% if notification.chatmessagenotification %}
            <a href="{% url "open_notification" notification.pk %}" class="d-flex align-items-center list-group-item list-group-item-action {% if not notification.seen %}list-group-item-warning fw-bold{% endif %}">
                {% include "./chat_message_notification_text.html" with message=notification.chatmessagenotification.message only %}
            </a>
        {% endif %}
    {% endfor %}
</div>