{% extends "furfolio/layouts/title_body.html" %}

{% load static %}

{% block title %}
Edit Tag Category <code>{{ tag_category.name }}</code>
{% endblock %}

{% block site_title %}
{% include "furfolio/website_title.html" with title="Update "|add:tag_category.name only %}
{% endblock %}

{% block body %}

{% if perms.furfolio.delete_tagcategory %}
    <div class="d-flex justify-content-end">
        <a class="btn btn-danger text-light d-flex align-items-center" href="{% url "delete_tag_category" tag_category.name %}"><img class="me-1" src="{% static "symbols/trash-white.svg" %}" style="width: 2em;">Delete</a>
    </div>
{% endif %}

<form method="post" id="form">
    {% csrf_token %}
    {{ form }}
    <input class="btn btn-primary" id="update-button" type="submit" value="Save Changes">
</form>

{% include "furfolio/scripts/hide_on_submit.html" with form_id="form" id_to_hide="update-button" only %}

{% endblock %}