{% extends "base.html" %}

{% load static %}

{% block site_title %}
{% include "furfolio/website_title.html" with title="Tag Categories" only %}
{% endblock %}

{% block content %}

{% include "../../wip.html" %}

<div class="mb-3">
    {% include "../tag_navigation.html" with active_tag_category_link=True only %}
</div>

{% if perms.furfolio.add_tagcategory %}
    <a class="btn btn-primary mb-3 d-inline-flex align-items-center" href="{% url "create_tag_category" %}"><img class="me-2" src="{% static "symbols/plus-white.svg" %}" style="width: 1em;">Create Category</a>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for category in tag_categories %}
            <tr>
                <th scope="col"><a class="text-decoration-none" href="{% url "tag_category_detail" category.name %}">{{ category.name }}</a></th>
                <td>{% if category.description %}{{ category.description }}{% endif %}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}