{% extends "./title_2_body.html" %}

{% block content_container_class %}container-fluid{% endblock %}

{% block body_2 %}

<div class="row">
    <div class="col-md" {% block column_1_attrs %}{% endblock %}>
        <div class="fs-3 mb-3">
            {% block column_1_title %}
                Title 1
            {% endblock %}
        </div>
        <div class="mb-5">
            {% block column_1 %}
                Column 1
            {% endblock %}
        </div>
    </div>

    <div class="col-md" {% block column_2_attrs %}{% endblock %}>
        <div class="fs-3 mb-3">
            {% block column_2_title %}
                Title 2
            {% endblock %}
        </div>
        <div class="mb-5">
            {% block column_2 %}
                Column 2
            {% endblock %}
        </div>
    </div>

    <div class="col-md" {% block column_3_attrs %}{% endblock %}>
        <div class="fs-3 mb-3">
            {% block column_3_title %}
                Title 3
            {% endblock %}
        </div>
        <div class="mb-5">
            {% block column_3 %}
                Column 3
            {% endblock %}
        </div>
    </div>
</div>

{% endblock %}