{% extends "furfolio/layouts/title_body.html" %}

{% load query_replace %}

{% block title %}
Support Ticket {{ support_ticket.title }}
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-3 col-sm-2">
        Author:
    </div>
    <div class="col">
        {% include "../users/badge.html" with user=support_ticket.author only %}
    </div>
</div>
<div class="row">
    <div class="col-3 col-sm-2">
        State:
    </div>
    <div class="col">
        <b>{{ support_ticket.friendly_state_text }}</b>
    </div>
</div>
<div class="row">
    <div class="col-3 col-sm-2">
        Date created:
    </div>
    <div class="col">
        <b>{{ support_ticket.created_date }}</b>
    </div>
</div>

<hr>

{% if support_ticket.get_chat %}
<p>
    <a class="text-reset text-decoration-none" href="{% url "chat" support_ticket.get_chat.pk %}">
        <div>{% include "furfolio/chat/chat_button.html" %}</div>
    </a>
</p>
{% elif current_user_is_support_mod %}
<p>
    <form method="post" action="{% url "create_support_ticket_chat" support_ticket.pk %}?{% query_replace request "next" request.get_full_path %}">
        {% csrf_token %}
        <button class="btn btn-primary">
            Create chat
        </button>
    </form>
</p>
{% endif %}

<p>
    {{ support_ticket.description|linebreaks|urlize }}
</p>
{% endblock %}