{% extends "furfolio/layouts/title_body.html" %}

{% load static %}

{% block title %}
Support
{% endblock %}

{% block body %}
<a class="btn btn-primary" href="{% url "create_support_ticket" %}"><img src="{% static "symbols/plus-white.svg" %}" class="me-2" style="width: 1em;">Create Ticket</a>

<hr>

{% for ticket in support_tickets %}
    <div class="mb-3">
        {% include "./support_ticket_card.html" with support_ticket=ticket only %}
    </div>
{% endfor %}

{% if is_paginated %}
<div class="d-flex justify-content-center">
    {% include "furfolio/components/pagination_buttons.html" with page_obj=page_obj page_range=page_range request=request only %}
</div>
{% endif %}

{% endblock %}