$orange: hsl(6, 90%, 59%);
$light-orange: hsl(6, 90%, 90%);
$red: hsl(357, 100%, 59%);
$green: hsl(128, 100%, 84%);
$dark-orange: hsl(6, 90%, 47%);
$dark-blue: hsl(213, 64%, 11%);
$gray-blue: hsl(213, 15%, 50%);
$ocean-blue: hsl(180, 85%, 68%);