// custom furfolio theme for the website

@use "./furfolio-colors";

$primary: furfolio-colors.$dark-orange;
$secondary: furfolio-colors.$gray-blue;
$info: furfolio-colors.$ocean-blue;
$danger: furfolio-colors.$red;
$light: #ffffff;
$dark: furfolio-colors.$dark-blue;

@import "../../bootstrap-5.3.2/scss/bootstrap.scss";