{% extends "furfolio/layouts/title_body.html" %}
{% load static %}

{% block title %}
Your Commissions
{% endblock %}

{% block body %}

<div>
    {% for commission in commissions_as_commissioner %}
        <div class="mb-3">
            {% include "furfolio/commissions/commission_card_functional.html" with commission=commission csrf_token=csrf_token request=request only %}
        </div>
    {% endfor %}
</div>

<div class="mb-3 d-flex align-items-center">
    <div class="me-1">You are in buyer mode.</div>
    <a class="btn btn-primary" href="{% url "creator_dashboard" %}">
        <img class="me-1" style="width: 25px;" src="{% static "symbols/chasing-arrows-white.svg" %}">
        Creator Mode
    </a>
</div>
{% endblock %}