{% extends "furfolio/layouts/title_body.html" %}
{% load static %}

{% block title %}
<div class="d-flex align-items-center">
    Your Commissions
    <div class="flex-fill"></div>
    <a class="btn btn-primary" href="{% url "creator_dashboard" %}">
        <img class="me-1" style="width: 1.5em;" src="{% static "symbols/chasing-arrows-white.svg" %}">
        Creator Mode
    </a>
</div>
{% endblock %}

{% block body %}

<p>
    Your commissions where you are the buyer.
</p>

<div>
    {% for commission in commissions %}
        <div class="mb-3">
            {% include "furfolio/commissions/commission_card.html" with commission=commission csrf_token=csrf_token request=request show_status=True hide_buyer=True only %}
        </div>
    {% endfor %}
</div>

{% if is_paginated %}
    {% include "furfolio/components/pagination_buttons.html" with page_obj=page_obj request=request only %}
{% endif %}

{% endblock %}