{% extends "furfolio/layouts/title_body.html" %}
{% load static %}

{% block title %}
<div class="d-flex align-items-center">
    Your Commissions
    <div class="flex-fill"></div>
    <a class="btn btn-primary" href="{% url "creator_dashboard" %}">
        <img class="me-1" style="width: 25px;" src="{% static "symbols/chasing-arrows-white.svg" %}">
        Creator Mode
    </a>
</div>
{% endblock %}

{% block body %}

<div>
    {% for commission in commissions_as_commissioner %}
        <div class="mb-3">
            {% include "furfolio/commissions/commission_card.html" with commission=commission csrf_token=csrf_token request=request show_status=True only %}
        </div>
    {% endfor %}
</div>

{% endblock %}