{% comment "" %}
This includable template represents a vertical list of commission cards.
Expects the following context objects:
  - commissions: a list of commission objects
  - request: the request object
  - csrf_token: the csrf_token
{% endcomment %}

{% if commissions %}
    {% for commission in commissions %}
        <div class="mb-3">
            {% include "furfolio/commissions/commission_card.html" with commission=commission request=request csrf_token=csrf_token only %}
        </div>
    {% endfor %}
{% else %}
<div class="d-flex flex-column align-items-center">
    <div>
        No commissions.
    </div>
</div>
{% endif%}