{% extends "furfolio/layouts/4_columns.html" %}

{% block column_1_title %}
{% include "furfolio/commissions/state_badge.html" with state="REVIEW" only %}
{% endblock %}

{% block column_1 %}
    {% for commission in in_review_commissions %}
        <div class="mb-3">
            {% include "furfolio/commissions/commission_card_mini.html" with commission=commission only %}
        </div>
    {% endfor %}
{% endblock %}

{% block column_2_title %}
{% include "furfolio/commissions/state_badge.html" with state="ACCEPTED" only %}
{% endblock %}

{% block column_2 %}
    {% for commission in accepted_commissions %}
        <div class="mb-3">
            {% include "furfolio/commissions/commission_card_mini.html" with commission=commission only %}
        </div>
    {% endfor %}
{% endblock %}

{% block column_3_title %}
{% include "furfolio/commissions/state_badge.html" with state="IN_PROGRESS" only %}
{% endblock %}

{% block column_3 %}
    {% for commission in in_progress_commissions %}
        <div class="mb-3">
            {% include "furfolio/commissions/commission_card_mini.html" with commission=commission only %}
        </div>
    {% endfor %}
{% endblock %}

{% block column_4_title %}
{% include "furfolio/commissions/state_badge.html" with state="CLOSED" only %}
{% endblock %}

{% block column_4 %}
    {% for commission in closed_commissions %}
        <div class="mb-3">
            {% include "furfolio/commissions/commission_card_mini.html" with commission=commission only %}
        </div>
    {% endfor %}
{% endblock %}