{% extends "furfolio/layouts/4_columns.html" %}

{% load static %}

{% block title %}
<div class="d-flex align-items-center">
    Creator Dashboard
    <div class="flex-fill"></div>
    <a class="btn btn-primary" href="{% url "buyer_dashboard" %}">
        <img class="me-1" style="width: 25px;" src="{% static "symbols/chasing-arrows-white.svg" %}">
        Buyer Mode
    </a>
</div>
{% endblock %}

{% block body_1 %}
<h4>Offers</h4>
<div class="mb-5 d-flex align-items-center">
    <a href="{% url "user_offers" request.user.username %}"><button class="btn btn-primary me-3">My Offers</button></a>
    <a href="{% url "create_offer" %}"><button class="btn btn-primary">Create Offer</button></a>
</div>

<h4>Commissions</h4>
<p>Commissions where you are the commission's offer author.</p>
{% endblock %}

{% block column_1_title %}
{% include "furfolio/commissions/state_badge.html" with state="REVIEW" only %}
{% endblock %}

{% block column_1 %}
    {% for commission in review_commissions %}
        <div class="mb-3">
            {% include "furfolio/commissions/commission_card_functional.html" with commission=commission request=request csrf_token=csrf_token only %}
        </div>
    {% endfor %}
{% endblock %}

{% block column_2_title %}
{% include "furfolio/commissions/state_badge.html" with state="ACCEPTED" only %}
{% endblock %}

{% block column_2 %}
    {% for commission in accepted_commissions %}
        <div class="mb-3">
            {% include "furfolio/commissions/commission_card_functional.html" with commission=commission request=request csrf_token=csrf_token only %}
        </div>
    {% endfor %}
{% endblock %}

{% block column_3_title %}
{% include "furfolio/commissions/state_badge.html" with state="IN_PROGRESS" only %}
{% endblock %}

{% block column_3 %}
    {% for commission in in_progress_commissions %}
        <div class="mb-3">
            {% include "furfolio/commissions/commission_card_functional.html" with commission=commission request=request csrf_token=csrf_token only %}
        </div>
    {% endfor %}
{% endblock %}

{% block column_4_title %}
{% include "furfolio/commissions/state_badge.html" with state="CLOSED" only %}
{% endblock %}

{% block column_4 %}
    {% for commission in closed_commissions %}
        <div class="mb-3">
            {% include "furfolio/commissions/commission_card_functional.html" with commission=commission request=request csrf_token=csrf_token only %}
        </div>
    {% endfor %}
{% endblock %}