{% extends "furfolio/layouts/4_columns.html" %}

{% load static %}

{% block title %}
<div class="d-flex align-items-center">
    Creator Dashboard
    <div class="flex-fill"></div>
    <a class="btn btn-primary" href="{% url "buyer_dashboard" %}">
        <img class="me-1" style="width: 1.5em;" src="{% static "symbols/chasing-arrows-white.svg" %}">
        Buyer Mode
    </a>
</div>
{% endblock %}

{% block body_1 %}
<h4>Offers</h4>
<div class="mb-5 d-flex align-items-center">
    <a href="{% url "offer_list" %}?author={{ request.user.username }}&sort=created_date"><button class="btn btn-primary me-3">My Offers</button></a>
    <a class="btn btn-primary d-inline-flex" href="{% url "create_offer" %}"><img class="me-2" src="{% static "symbols/plus-white.svg" %}" style="width: 1em;">Create Offer</a>
</div>

<h4>Commissions</h4>
<p><a href="{% url "commissions" %}" class="text-decoration-none btn btn-primary">See all</a></p>

<form method="get">
    {{ offer_select_form }}
</form>
{% endblock %}

{% block column_1_title %}
<a class="text-decoration-none" href="{% url "commissions" %}?review=on">
    {% include "furfolio/commissions/state_badge.html" with state="REVIEW" only %}
</a>
<span class="fs-5">
    {{ review_commissions.count }}
    of
    <a class="text-decoration-none" href="{% url "commissions" %}?review=on">{{ review_commissions_total_count }}</a>
</span>
{% endblock %}

{% block column_1 %}
    {% include "./commission_card_list.html" with commissions=review_commissions request=request csrf_token=csrf_token only %}
{% endblock %}

{% block column_2_title %}
<a class="text-decoration-none" href="{% url "commissions" %}?accepted=on">
    {% include "furfolio/commissions/state_badge.html" with state="ACCEPTED" only %}
</a>
<span class="fs-5">
    {{ accepted_commissions.count }}
    of
    <a class="text-decoration-none" href="{% url "commissions" %}?accepted=on">{{ accepted_commissions_total_count }}</a>
</span>
{% endblock %}

{% block column_2 %}
    {% include "./commission_card_list.html" with commissions=accepted_commissions request=request csrf_token=csrf_token only %}
{% endblock %}

{% block column_3_title %}
<a class="text-decoration-none" href="{% url "commissions" %}?in_progress=on">
    {% include "furfolio/commissions/state_badge.html" with state="IN_PROGRESS" only %}
</a>
<span class="fs-5">
    {{ in_progress_commissions.count }}
    of
    <a class="text-decoration-none" href="{% url "commissions" %}?in_progress=on">{{ in_progress_commissions_total_count }}</a>
</span>
{% endblock %}

{% block column_3 %}
    {% include "./commission_card_list.html" with commissions=in_progress_commissions request=request csrf_token=csrf_token only %}
{% endblock %}

{% block column_4_title %}
<a class="text-decoration-none text-reset" href="{% url "commissions" %}?finished=on">
    {% include "furfolio/commissions/state_badge.html" with state="CLOSED" only %}
</a>
<span class="fs-5">
    {{ closed_commissions.count }}
    of
    <a class="text-decoration-none" href="{% url "commissions" %}?finished=on">{{ closed_commissions_total_count }}</a>
</span>
{% endblock %}

{% block column_4 %}
    {% include "./commission_card_list.html" with commissions=closed_commissions request=request csrf_token=csrf_token only %}
{% endblock %}