{% extends "furfolio/layouts/3_columns.html" %}

{% load static %}

{% block title %}
<div class="d-flex align-items-center">
    Creator Dashboard
    <div class="flex-fill"></div>
    <a class="btn btn-primary" href="{% url "buyer_dashboard" %}">
        <img class="me-1" style="width: 1.5em;" src="{% static "symbols/chasing-arrows-white.svg" %}">
        Buyer Mode
    </a>
</div>
{% endblock %}

{% block body_1 %}
<div class="d-flex">
    <div class="dropdown me-3">
        <button class="btn btn-primary dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Offers
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item fw-bold" href="{% url "offer_list" %}?author={{ request.user.username }}&sort=created_date">View</a></li>
            <li><a class="dropdown-item d-inline-flex fw-bold"  href="{% url "create_offer" %}"><img class="me-2" src="{% static "symbols/plus-black.svg" %}" style="width: 1em;">Create</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle fw-bold" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Commissions
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item fw-bold" href="{% url "commissions" %}">View</a></li>
        </ul>
    </div>
</div>

<hr>

<form method="get" id="offer-select-form">
    {{ offer_select_form }}
</form>

{% include "furfolio/scripts/submit_form_on_change.html" with form_id="offer-select-form" only %}

{% endblock %}

{% block column_1_title %}
<a class="text-decoration-none" href="{{ see_review_commissions_url }}">
    {% include "furfolio/commissions/state_badge.html" with state="REVIEW" only %}
</a>
<span class="fs-5">
    {{ review_commissions.count }}
    of
    <a class="text-decoration-none" href="{{ see_review_commissions_url }}">{{ review_commissions_total_count }}</a>
</span>
{% endblock %}

{% block column_1 %}
    {% include "./commission_card_list.html" with commissions=review_commissions request=request csrf_token=csrf_token only %}
{% endblock %}

{% block column_2_title %}
<a class="text-decoration-none" href="{{ see_accepted_commissions_url }}">
    {% include "furfolio/commissions/state_badge.html" with state="ACCEPTED" only %}
</a>
<span class="fs-5">
    {{ accepted_commissions.count }}
    of
    <a class="text-decoration-none" href="{{ see_accepted_commissions_url }}">{{ accepted_commissions_total_count }}</a>
</span>
{% endblock %}

{% block column_2 %}
    {% include "./commission_card_list.html" with commissions=accepted_commissions request=request csrf_token=csrf_token only %}
{% endblock %}

{% block column_3_title %}
<a class="text-decoration-none" href="{{ see_in_progress_commissions_url }}">
    {% include "furfolio/commissions/state_badge.html" with state="IN_PROGRESS" only %}
</a>
<span class="fs-5">
    {{ in_progress_commissions.count }}
    of
    <a class="text-decoration-none" href="{{ see_in_progress_commissions_url }}">{{ in_progress_commissions_total_count }}</a>
</span>
{% endblock %}

{% block column_3 %}
    {% include "./commission_card_list.html" with commissions=in_progress_commissions request=request csrf_token=csrf_token only %}
{% endblock %}
