{% extends "base.html" %}

{% block content %}

{% for message in commission_messages %}
    <div class="row mb-2">
        {% if message.author.pk == request.user.pk %}
            <div class="col-md-6"></div>
            <div class="col-md-6">
                {% if message.attachment %}
                    {% include "./message_card.html" with id=message.get_html_id text=message.message sender="CURRENT_USER" attachment_url=message.attachment.url attachment_name=message.attachment.name only %}
                {% else %}
                    {% include "./message_card.html" with id=message.get_html_id text=message.message sender="CURRENT_USER" only %}
                {% endif %}
            </div>
        {% else %}
            <div class="col-md-6">
                {% if message.attachment %}
                    {% include "./message_card.html" with id=message.get_html_id text=message.message sender="NON_CURRENT_USER" attachment_url=message.attachment.url attachment_name=message.attachment.name only %}
                {% else %}
                    {% include "./message_card.html" with id=message.get_html_id text=message.message sender="NON_CURRENT_USER" only %}
                {% endif %}
            </div>
            <div class="col-md-6"></div>
        {% endif %}
    </div>
{% endfor %}

{% if commission_messages %}
    <div class="row mb-3 d-none d-md-flex">
        <div class="col-md-6">
            {% include "furfolio/users/badge.html" with user=other_user show_avatar=True only %}
        </div>
        <div class="col-md-6">
            {% include "furfolio/users/badge.html" with user=request.user show_avatar=True only %}
        </div>
    </div>

    <div class="d-flex d-md-none mb-3">
        <div class="p-3 border border-secondary-subtle rounded">
            {% include "furfolio/users/badge.html" with user=other_user show_avatar=True only %}
        </div>
        <div class="flex-fill"></div>
        <div class="p-3 bg-success border border-secondary-subtle rounded">
            {% include "furfolio/users/badge.html" with user=request.user show_avatar=True only %}
        </div>
    </div>
{% endif %}

<form method="post" id="chat-form" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <input type="submit" id="chat-submit-button" class="btn btn-primary" value="Send">
</form>

{% include "furfolio/scripts/hide_on_submit.html" with form_id="chat-form" id_to_hide="chat-submit-button" only %}

{% endblock %}