{% comment "" %}
Includable message card.
Expects the following context objects:
  - text: the text
  - attachment_name: (optional) the name of the attachment
  - attachment_url: the url of the attachment
  - sender: an enum value: "CURRENT_USER" or "NON_CURRENT_USER"
    - "CURRENT_USER": use this to make card styles as if the message is by the signed in user
    - "NON_CURRENT_USER": use this to make card styled as if the message is sent from someone else
{% endcomment %}

<div class="card {% if sender == "CURRENT_USER" %}bg-success-subtle{% elif sender == "NON_CURRENT_USER" %}{% endif %}">
    <div class="card-body">
        <div class="card-text">
            <p>
                {{ text }}
            </p>
            {% if attachment_name and attachment_url %}
                <a href="{{ attachment_url }}">{{ attachment_name }}</a>
            {% endif %}
        </div>
    </div>
</div>