<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load pwa %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Furfolio is a an online commission management platform for creators and customers.">
    {# favicon and icon research https://stackoverflow.com/a/68189611 #}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "/icons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "/icons/favicon-16x16.png" %}">

    <link rel="icon" type="image/png" sizes="48x48" href="{% static "/icons/favicon-48x48.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "/icons/favicon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static "/icons/favicon-512x512.png" %}">
    <link rel="icon" type="image/png" sizes="768x768" href="{% static "/icons/favicon-768x768.png" %}">

    <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="{% static "/icons/favicon-167x167.png" %}">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% static "/icons/favicon-180x180.png" %}">
    <title>
        {% block site_title %}
        Furfolio
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

    {% progressive_web_app_meta %}
</head>

<body class="d-flex flex-column vh-100">
    <div class="container-fluid">
        {% include "furfolio/website_header.html" %}
    </div>
    <br>

    <main class="flex-grow-1">
        <div class="container mb-3">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="bg-secondary">
        <div class="container text-white d-flex pt-4 pb-5">
            <div class="me-3">
                <a href="{% url "home" %}">
                    <img width="100px" src="{% static "logos/dark/dark-mono.svg" %}">
                </a>
            </div>
            <div>
                <a class="nav-link" href="{% url "terms_of_service" %}">Terms of Service</a>
                <a class="nav-link" href="{% url "privacy_policy" %}">Privacy Policy</a>
            </div>
        </div>
    </footer>

    {% include "timezone_script.html" %}
</body>

</html>