<!DOCTYPE html>
<html lang="en">

<head>
    <title>
        {% block site_title %}
        Furfolio
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</head>

<body>
    {% block home_link %}
        {% include "home_link.html"%}
        <br>
    {% endblock %}

    {% block login_link %}
        {% if user.is_authenticated == False %}
            {% include "login_link.html" %}
            <br>
        {% endif %}
    {% endblock %}

    {% block signup_link %}
        {% if user.is_authenticated == False %}
            {% include "signup_link.html" %}
            <br>
        {% endif %}
    {% endblock %}
    
    {% block logout_link %}
        {% if user.is_authenticated %}
            {% include "logout_link.html" %}
            <br>
        {% endif %}
    {% endblock %}

    {% block create_offer_link %}
        {% include "create_offer_link.html" %}
        <br>
    {% endblock %}
    
    {% block content %}
    {% endblock %}
</body>

</html>