<!DOCTYPE html>
<html lang="en">

{% load static %}
{% load pwa %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Furfolio is a an online commission management platform for creators and customers.">
    {# favicon and icon research https://stackoverflow.com/a/68189611 #}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "/icons/favicon-32x32.png" %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static "/icons/favicon-16x16.png" %}">

    <link rel="icon" type="image/png" sizes="48x48" href="{% static "/icons/favicon-48x48.png" %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static "/icons/favicon-192x192.png" %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static "/icons/favicon-512x512.png" %}">
    <link rel="icon" type="image/png" sizes="768x768" href="{% static "/icons/favicon-768x768.png" %}">

    <link rel="apple-touch-icon" type="image/png" sizes="167x167" href="{% static "/icons/favicon-167x167.png" %}">
    <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{% static "/icons/favicon-180x180.png" %}">
    <title>
        {% block site_title %}
        Furfolio
        {% endblock %}
    </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap" rel="stylesheet">
    
    <link href="{% static "/style/style.css" %}" rel="stylesheet">
    <script src="{% static "/js/bootstrap.bundle.min.js" %}"></script>

    <script src="{% static "/js/htmx.min.js" %}"></script>
    <script src="{% static "/js/idiomorph-ext.min.js" %}"></script>
    <script type="text/javascript">
        // set defaults for idiomorph swapping in htmx
        Idiomorph.defaults.callbacks.beforeNodeMorphed = function(oldNode, newNode) {
            classToPassThrough = "show"
            // if the old node has `show` class, so does the new one
            // if the old node does not have `show` class, the new one does not

            if(!newNode.className){
                newNode.className = ""
            }
            if(!oldNode.className){
                oldNode.className = ""
            }

            oldClasses = oldNode.className.split(" ")
            newClasses = newNode.className.split(" ")
            
            if(oldClasses.includes(classToPassThrough)) {
                // ensure newClasses has the show
                if(!newClasses.includes(classToPassThrough)) {
                    newNode.className = newNode.className + " " + classToPassThrough
                }
            }
            else {
                // ensure that the newClasses does not have the show
                newClassesForNewNode = ""
                newClasses.forEach(newClassName => {
                    if(newClassName === classToPassThrough) {
                        return
                    } else {
                        newClassesForNewNode = newClassesForNewNode + " " + newClassName
                    }
                })
                newClassesForNewNode = newClassesForNewNode.trim()
                newNode.className = newClassesForNewNode
            }

            // cleanup classnames
            newNode.className = newNode.className.trim()
            oldNode.className = oldNode.className.trim()
        }
        Idiomorph.defaults.morphStyle = "innerHTML"
    </script>

    {% progressive_web_app_meta %}
</head>

<body class="d-flex flex-column vh-100" hx-ext="morph">
    
    {% block header %}
    <div class="container-fluid">
        {% include "furfolio/website_header.html" %}
    </div>
    {% endblock %}

    <main class="flex-grow-1">
        <div class="{% block content_container_class %}container-lg{% endblock %} mb-3">
            {% block content %}
            {% endblock %}
        </div>
    </main>

    <footer class="bg-secondary">
        <div class="container text-white d-flex pt-4 pb-5">
            <div class="me-3">
                <a href="{% url "home" %}">
                    <img width="100px" src="{% static "logos/dark/dark-mono.svg" %}">
                </a>
            </div>
            <div>
                <a class="nav-link" href="{% url "terms_of_service" %}">Terms of Service</a>
                <a class="nav-link" href="{% url "privacy_policy" %}">Privacy Policy</a>
                <a class="nav-link mb-3" href="{% url "credit" %}">Credit</a>
                <a class="nav-link" href="{% url "tags" %}">Tags</a>
                <a class="nav-link" href="{% url "help" %}">Help</a>
                <a class="nav-link mb-3" href="{% url "support" %}">Support</a>
                <span class="nav-link">{% include "furfolio/3rd/paypal_donation_button.html" %}</span>
            </div>
        </div>
    </footer>

    {% include "furfolio/scripts/timezone_script.html" %}
</body>

</html>