{% comment "" %}
Includable template that presents pagination buttons and text.
Expects the following context objects:
  - page_obj: you should get this if you are doing django pagination
  - page_range: should be the output of the method 'get_elided_page_range' from the paginator object. You can get this in your view and pass it through.
  - request: the request object. this is needed to make the links with the correct query params
{% endcomment %}

{% load static %}
{% load query_replace %}

<ul class="pagination fw-bold">
    {% if page_obj.has_previous %}
        <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
            <a class="page-link border-primary" href="?{% query_replace request "page" page_obj.previous_page_number %}">
                Previous
            </a>
        </li>
    {% endif %}
    {% for i in page_range %}
        {% if page_obj.number == i %}
            <li class="active page-item">
                <span class="page-link border-primary">{{ i }}</span>
            </li>
        {% elif i == page_obj.paginator.ELLIPSIS %}
            <li class="page-item">
                <span class="page-link border-primary">{{ page_obj.paginator.ELLIPSIS }}</span>
            </li>
        {% else %}
            <li class="page-item">
                <a class="page-link border-primary" href="?{% query_replace request "page" i %}">{{ i }}</a>
            </li>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
            <a class="page-link border-primary" href="?{% query_replace request "page" page_obj.next_page_number %}">
                Next
            </a>
        </li>
    {% endif %}
</ul>