{% comment "" %}
Includable template that presents pagination buttons and text.
Expects the following context objects:
  - page_obj: you should get this if you are doing django pagination
  - request: the request object. this is needed to make the links with the correct query params
{% endcomment %}

{% load static %}
{% load query_replace %}

<div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center align-items-center" role="group">
        {% if page_obj.has_previous %}
            <a class="btn btn-primary" href="?{% query_replace request "page" page_obj.previous_page_number %}">
                <img src="{% static "symbols/left-arrow-white.svg" %}" style="width: 16px;">
            </a>
        {% endif %}
        <div class="mx-3">Page {{ page_obj.number }}</div>
        {% if page_obj.has_next %}
            <a class="btn btn-primary" href="?{% query_replace request "page" page_obj.next_page_number %}">
                <img src="{% static "symbols/right-arrow-white.svg" %}" style="width: 16px;">
            </a>
        {% endif %}
    </div>
</div>