{% load static %}

<div class="list-group">
    <a class="list-group-item d-flex align-items-center gap-3" href="https://discord.gg/5A9ZQMzT2N" target="_blank" rel="noopener noreferrer">
        <img src="{% static "3rd/discord-mark-blue.svg" %}" style="width: 3em;">
        <div>
            Announcements. Discussions of bugs, features, and Furfolio. Casual and meme chat also lives here!
        </div>
    </a>
    <a class="list-group-item d-flex align-items-center gap-3" href="https://twitter.com/furfolio" target="_blank" rel="noopener noreferrer">
        <img src="{% static "3rd/x-logo-black.png" %}" style="width: 3em;">
        <div>
            Announcements.
        </div>
    </a>
    <a class="text-decoration-none list-group-item d-flex align-items-center gap-3" href="https://www.furaffinity.net/user/furfolio" target="_blank" rel="noopener noreferrer">
        <div class="fw-bold">FurAffinity</div>
        <div>
            Other Furry stuff.
        </div>
    </a>
</div>