{% comment "" %}
An includable script.
Requires some context objects passed in.
  - form_id: the id of the form that, when submitted, should trigger this script.
  - id_to_hide: the id of the element to hide when element with id form_id is submitted.
  - replace_with_spinner: (bool) if true, replaces element with spinner.
{% endcomment %}

<script>
{
    let form = document.getElementById("{{ form_id }}")
    form.addEventListener("submit", function() {
        let element_to_hide = document.getElementById("{{ id_to_hide }}")

        if( "{{ replace_with_spinner|default:True }}" === "True" ) {
          parent = element_to_hide.parentNode
          width = parent.offsetWidth
          height = parent.offsetHeight
          smallest_side = width < height ? width : height
          element_to_hide.style.display = "none"
          spinner = document.createElement("div")
          spinner.innerHTML = ` {% include "furfolio/components/spinner.html" %} `
          parent.replaceChild(spinner, element_to_hide)
        } else {
          element_to_hide.style.display = "none"
        }
        
    }) 
}
</script>