{% comment "" %}
An includable script.
Requires some context objects passed in.
  - form_id: the id of the form that, when submitted, should trigger this script.
  - id_to_hide: the id of the element to hide when element with id form_id is submitted.
{% endcomment %}

<script>
    {
      let form = document.getElementById("{{ form_id }}")
      form.addEventListener("submit", function() {
        let element_to_hide = document.getElementById("{{ id_to_hide }}")
        element_to_hide.style.display = "none"
      })
    }
    </script>