{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="d-flex flex-column align-items-center mb-5">
    <div class="fs-1 mb-3 fw-bold">
        Furfolio
    </div>
    <div class="fs-4">
        Comprehensive commission management
    </div>
</div>

<div class="d-flex flex-column align-items-center mb-3">
    <div class="fs-1">
        Values
    </div>
</div>

<div class="bg-secondary-subtle rounded p-1 mb-5">
    <div class="row mb-5">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 fs-2 fw-bold">
            Feature-first
        </div>
        <div class="col-md-6 fs-4">
            Functionality is highest priority. 
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 fs-2 fw-bold">
            Cohesion
        </div>
        <div class="col-md-6 fs-4">
            A single place to manage the commission lifecycle.
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 fs-2 fw-bold">
            Simplicity
        </div>
        <div class="col-md-6 fs-4">
            No unnecessary things, just sharp tools.
        </div>
    </div>
    
</div>

<div class="d-flex flex-column align-items-center mb-3">
    <div class="fs-1">
        The lifecycle
    </div>
</div>

<div class="bg-secondary-subtle rounded p-1 mb-5">
    <div class="row mb-5">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 fs-2 fw-bold">
            1. Offers
        </div>
        <div class="col-md-6 fs-4">
            Publish offers to accept commissions. 
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 fs-2 fw-bold">
            2. Commissions
        </div>
        <div class="col-md-6 fs-4">
            Receive commissions on offers.
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 fs-2 fw-bold">
            3. Fulfillment 
        </div>
        <div class="col-md-6 fs-4">
            Discuss, track, and work on commissions.
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 fs-2 fw-bold">
            4. Repeat <span class="ms-2 badge bg-warning text-reset">Work in Progress</span>
        </div>
        <div class="col-md-6 fs-4">
            Track commissions of the same service over time.
        </div>
    </div>
</div>

<div class="d-flex flex-column align-items-center mb-5">
    <div class="fs-2 mb-1">
        Take a look at some current offers.
    </div>
    <a class="btn btn-primary fs-4" href="{% url "offer_list" %}">Offers</a>
</div>


<div class="d-flex flex-column align-items-center mb-5">
    <div class="fs-2 mb-1">
        Learn more.
    </div>
    <a class="btn btn-primary fs-4" href="{% url "what_is_furfolio" %}">What is Furfolio?</a>
</div>

<div class="d-flex flex-column align-items-center">
    <div class="fs-2 mb-1">
        Get in touch.
    </div>
    <div>
        <a class="mx-2" href="https://discord.com/"><img src="{% static "3rd/discord-mark-blue.svg" %}" style="width: 3em;"></a>
        <a class="mx-2" href="https://twitter.com/"><img src="{% static "3rd/x-logo-black.png" %}" style="width: 3em;"></a>
    </div>
</div>


{% endblock %}