{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="d-flex flex-column align-items-center">
    <div class="mb-3">
        <img style="width: 12em;" src="{% static "logos/light/light-chrom-f.svg" %}">
    </div>
    <div class="fs-1 mb-3">
        Furfolio
    </div>
    <div class="fs-4 mb-5">
        Commission management that is simple.
    </div>
    <div class="fs-1 mb-2">
        Principles
    </div>   
</div>

<div class="bg-secondary-subtle rounded p-1 mb-5">
    <div class="row mb-5">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 fs-1">
            Furry First
        </div>
        <div class="col-md-6 fs-4">
            The furry fandom is considred first. 
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 fs-1">
            Community Driven
        </div>
        <div class="col-md-6 fs-4">
            You get to test, critique, and recommend new features.
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 fs-1">
            Cohesion
        </div>
        <div class="col-md-6 fs-4">
            We strive to reduce the number of tools to manage and publish commissions.
        </div>
    </div>
</div>

<div class="d-flex flex-column align-items-center mb-3">
    <div class="fs-1">
        Features
    </div>
</div>

<div class="bg-secondary-subtle rounded p-1 mb-5">
    <div class="row mb-5">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 fs-1">
            Publish Offers
        </div>
        <div class="col-md-6 fs-4">
            Creators can publish offers to accept commissions. 
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 fs-1">
            Request Commissions
        </div>
        <div class="col-md-6 fs-4">
            Buyers can request commissions of offers.
        </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 fs-1">
            Kanban
        </div>
        <div class="col-md-6 fs-4">
            Creators can track the status of commissions that they are working on.
        </div>
    </div>

    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5 fs-1">
            Chat
        </div>
        <div class="col-md-6 fs-4">
            Buyers and sellers can communicate and share requriements through chat. Each commission has its own chat.
        </div>
    </div>
</div>

{% endblock %}