{% extends "base.html" %}

{% block content %}
<h1>Edit offer "{{ offer.name }}"</h1>

<div class="d-flex justify-content-end">
    <a href="{% url "delete_offer" offer.pk %}"><button class="btn btn-danger">Delete</button></a>
</div>

<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form }}
    <div class="d-flex">
        <a class="me-3" href="{% url "offer_detail" offer.pk %}"><button class="btn btn-secondary" type="button">Cancel</button></a>
        <input class="btn btn-primary" type="submit" value="Update">
    </div>
</form>
{% endblock %}