{% extends "furfolio/layouts/title_body.html" %}

{% block title %}
Tag: <code>{{ tag.name }}</code>
{% endblock %}

{% block body %}

<div class="row">
    <div class="col-3 col-sm-2">
        Category:
    </div>
    <div class="col">
        {% if tag.category %}{{ tag.friendly_category_string }}{% else %}<b>No Category</b>{% endif %}
    </div>
</div>
<div class="row">
    <div class="col-3 col-sm-2">
        Author:
    </div>
    <div class="col">
        {% if tag.author %}{% include "furfolio/users/badge.html" with user=tag.author only %}{% else %}<b>No Author</b>{% endif %}
    </div>
</div>

<hr>

<div class="mb-3">
    {% if tag.description %}
        {{ tag.description|linebreaks|urlize }}
    {% else %}
        <b>No Description</b>
    {% endif %}
</div>

{% if perms.furfolio.change_tag %}
    <a class="btn btn-primary" href="{% url "update_tag" tag.name %}">Edit</a>
{% endif %}

{% endblock %}