{% extends "base.html" %}

{% load static %}

{% block content %}

{% if perms.furfolio.add_tag %}
    <a class="btn btn-primary mb-3 d-inline-flex align-items-center" href="{% url "create_tag" %}"><img class="me-2" src="{% static "symbols/plus-white.svg" %}" style="width: 1em;">Create Tag</a>
{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Tag</th>
            <th scope="col">Category</th>
            <th scope="col">Author</th>
            <th scope="col">Description</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for tag in tags %}
            <tr>
                <th scope="col"><a href="{% url "tag_detail" tag.name %}">{{ tag.name }}</a></th>
                <td>{{ tag.friendly_category_string }}</td>
                <td>{% if tag.author %}{% include "furfolio/users/badge.html" with user=tag.author only %}{% endif %}</td>
                <td>{{ tag.description|truncatechars:150 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% if is_paginated %}
<div class="d-flex justify-content-center">
    {% include "furfolio/components/pagination_buttons.html" with page_obj=page_obj page_range=page_range request=request only %}
</div>
{% endif %}

{% endblock %}