{% extends "furfolio/layouts/title_body.html" %}

{% block title %}
Thank you for signing up!
{% endblock %}

{% block body %}

<p>
    We appreciate your interest in our platform.
    <br>
    Our platform is free to use but you can still support development and operations by donating here.
    <br>
    You can either click the donate button or scan the QR code with your device.
    <br>
    Do not worry if you cannot give now, you can always donate at anytime.
</p>

<p>
    {% include "furfolio/3rd/paypal_donation_section.html" %}
</p>

<p>
    <h2>Next Steps</h2>

    Please read this quick overview of Furfolio if you have not already.
</p>
<a href="{% url "what_is_furfolio" %}" class="btn btn-primary">What is Furfolio?</a>

{% endblock %}