{% extends "./help_page.html" %}

{% block breadcrumbs %}
{% include "furfolio/components/breadcrumbs.html" with breadcrumbs=breadcrumbs only %}
{% endblock %}

{% block title %}
Searching Commissions
{% endblock %}

{% block body %}
<h4>
Cheat Sheet
</h4>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Scenario</th>
            <th scope="col">Search</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        {% for commission_scenario in commission_search_scenarios %}
            <tr>
                <td scope="row">{{ commission_scenario.scenario }}</td>
                <td><code>{{ commission_scenario.commission_query.to_search_string }}</code></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}