{% extends "./help_page.html" %}

{% block breadcrumbs %}
{% include "furfolio/components/breadcrumbs.html" with breadcrumbs=breadcrumbs only %}
{% endblock %}

{% block title %}
Offers and Commissions
{% endblock %}

{% block body %}
<p>
    The two main objects in Furfolio are <b>Offers</b> and <b>Commissions</b>.
</p>

<p>
    <h3>Offers</h3>

    They look like this:
</p>

<div class="my-4">
    {% include "furfolio/offers/offer_card.html" with offer=example_offer only %}
</div>

<p>
    A Creator creates and publishes Offers. Offers are the way Creators say that they are open for commissions.
    A Buyer looks for an Offer that they are interested in, then they try to make a commission on the Offer.
</p>

<p>
    Offers also give Creators the power to limit commissions from buyers.
</p>

<p>
    If you want to learn more about Offers, see the <a href="{% url "offer_reference" %}">Offer reference</a>.
</p>

<p>
    <h3>Commissions</h3>
    Commissions are created by Buyers on an Offer they found. They represent an ongoing transaction between the Buyer and the Creator.
    Furfolio helps track the progress of Commissions. A Chat is also provided between the Buyer and Creator.
</p>

<p>
    If you want to learn more about Commissions, see the <a href="{% url "commission_reference" %}">Commission reference</a>.
</p>

{% endblock %}