{% extends "./help_page.html" %}

{% block breadcrumbs %}
{% include "furfolio/components/breadcrumbs.html" with breadcrumbs=breadcrumbs only %}
{% endblock %}

{% block title %}
Offer Reference
{% endblock %}

{% block body %}

<p>
    <h3>Offers...</h3>
    <ul>
        <li>
            are created usually by Creators on the platform.
        </li>
        <li>
            express that a Creator is open to being commissioned as described in the Offer they publish.
        </li>
        <li>
            explain what service is being provided, a price range, and the number of avaliable slots.
        </li>
        <li>
            are time-bound and only allow commissions to be requested before an expiration date.
        </li>
        <li>
            provide functions that regulate the number of commissions.
        </li>
    </ul>

    Offers are either <b>open</b> or <b>closed</b>.
    <ul>
        <li>
            <b>Open</b> means that the offer has not expired and the Creator has not forced it closed.
        </li>
        <li>
            <b>Closed</b> means that the offer is not open. Buyers cannot request commissions of closed offers.
        </li>
    </ul>

    An open Offer communicates that it can potentially be commissioned.
    However, even if an Offer is open, you may not be able to commission it; this could be becuase the Creator has configured it to limit incoming commissions using a special rule.
</p>{% endblock %}