{% extends "./help_page.html" %}

{% block breadcrumbs %}
{% include "furfolio/components/breadcrumbs.html" with breadcrumbs=breadcrumbs only %}
{% endblock %}

{% block title %}
Privacy Policy
{% endblock %}

{% block body %}

<ol>
    <li><h2>PII<h2></li>
    <ol>
        <li>
            Some Personally Identifiable Information (PII) is collected when using this website and when registering an account to
            use this website. This includes email address, username, IP address, and your consent to see adult content on this site.
        </li>
        <li>
            We do not explicitly collect any other PII unless that user has published or provided
            such information publicly.
        </li>
        <li>
            Furfolio does not share or sell PII to non-affiliated third parties except for
            reasons required by law.
        </li>
    </ol>

    <li><h2>Cookies</h2></li>
    <ol>
        <li>
            Cookies are used on our website to facilitate user account access and timezone detection.
        </li>
    </ol>

    <li><h2>Use</h2></li>
    <ol>
        <li>
            Your information, cookie data, and PII may be disclosed or provided for any of the following reasons:
        </li>
        <ol>
            <li>
                To provide our services. This includes, but is not limited to, essential functions
                such as account authentication. Our website infrastructure provider does not have direct access
                to your PII unless required for support, troubleshooting, or maintenance.
            </li>
            <li>
                Required by law, regulation, government, or any entity of authority.
            </li>
            <li>
                To protect the users of Furfolio.
            </li>
            <li>
                To enforce the Terms of Service, Privacy Policy, or any related document.
            </li>
        </ol>
        <li>
            Your information, including PII, is stored encrypted when at rest on our 3rd party database infrastructure.
        </li>
    </ol>

    <li><h2>Chat</h2></li>
    <ol>
        <li>
            Chat refers to the communication channel between two or more users on Furfolio
            per commission.
        </li>
        <li>
            Chat messages are seen by all parties in the chat room.
        </li>
        <li>
            Furfolio moderators and administrators can inspect chat messages to resolve complaints
            from users.
        </li>
        <li>
            If requested by law, chat messages may be provided to entities of authority.
        </li>
    </ol>

    <li><h2>Statistics and Analytics</h2></li>
    <ol>
        <li>
            Your use of the website may be monitored and such information could be collected.
            This information is to be used only by Furfolio and is not sold or shared with
            other parties.
        </li>
        <li>
            Information that is collected may be analyzed to make conclusions about
            Furfolio users. These conclusions may reveal new information compared to
            the individual statistics gathered.
        </li>
    </ol>

    <li><h2>User Protection</h2></li>
    <ol>
        <li>
            Your information can be used to protect you and others on Furfolio.
        </li>
        <li>
            Protection refers to preventing or mitigating harm to users. Harm 
            includes, but is not limited to, harassment, hate speech,
            and defamation.
        </li>
    </ol>

    <li>Updating and Deleting Information</li>
    <ol>
        <li>
            Most information that you provide to this site is able to be updated by yourself.
            You are expected to use the built-in tools and features on this website to update
            or remove such information if it exists.
        </li>
        <li>
            If there is information that you authored and need to be updated or deleted and cannot
            be perfomed using the built-in tools of the website, create
            and submit a support ticket. The author of the support ticket may be used to verify
            that the information change request is valid.
        </li>
    </ol>
</ol>

{% endblock%}