{% extends "./help_page.html" %}

{% block breadcrumbs %}
{% include "furfolio/components/breadcrumbs.html" with breadcrumbs=breadcrumbs only %}
{% endblock %}

{% block title %}
Privacy Policy
{% endblock %}

{% block body %}

<ol>
    <li><h2>Collected Information<h2></li>
    <ol>
        <li>
            Some PII is collected when using this website and when registering an account to
            use this website. This includes email address, username, IP address, and information
            that implies your age range when you are asked about consent to adult content.
        </li>
        <li>
            We do not collect any other PII unless that user has published or provided
            such information publicly.
        </li>
        <li>
            Furfolio does not share or sell PII to non-affiliated third parties except for
            reasons required by law.
        </li>
    </ol>

    <li><h2>Cookies</h2></li>
    <ol>
        <li>
            Cookies are used on our website to facilitate user account access and automatic
            timezone detection for displaying times.
        </li>
    </ol>

    <li><h2>Use</h2></li>
    <ol>
        <li>
            PII and cookie data may be disclosed or provided for any of the following reasons:
        </li>
        <ol>
            <li>
                To provide our services. This includes using your PII with third party services to provide
                such services.
            </li>
            <li>
                Required by law, regulation, government, or any entity of authority.
            </li>
            <li>
                To protect the users of Furfolio.
            </li>
            <li>
                To enforce the Terms of Service, Privacy Policy, or any related document.
            </li>
            <li>
                To facilitate business restructure which can include transfer of Furfolio
                assets to an acquirer.
            </li>
        </ol>
    </ol>
</ol>

{% endblock%}