{% extends "./help_page.html" %}

{% block breadcrumbs %}
{% include "furfolio/components/breadcrumbs.html" with breadcrumbs=breadcrumbs only %}
{% endblock %}

{% block title %}
Terms of Service
{% endblock %}

{% block body %}

<ol>
    <li><h2>Acceptance</h2></li>
    <ol>
        <li>
            You accept these Terms of Service, and related documents, when you create an account
            on Furfolio. By accepting, you agree to follow and abide by all
            of guidelines stated in this document. If you do not agree with
            these Terms of Service, you are not allowed to use the services
            provided on Furfolio.
        </li>
        <li>
            Use of this website can be performed with or without being signed in
            to an account. Users who are not signed in must abide by the Terms
            of Service applicable to them as outline in this document.
        </li>
        <li>
            If your account is banned or suspended, you must not create another
            account to bypass these actions. If you bypass these limits, may
            result in your current or new accounts being terminated.
        </li>
    </ol>

    <li><h2>Changes to Documents</h2></li>
    <ol>
        <li>
            Furfolio may change this document or Privacy Policy at anytime. If the document
            changes, you will receive a website notification if you have an account.
            After you have been notified, continuing to use Furfolio implies that
            you agree to the revised documents. Please read the new document before
            using any of the services of Furfolio.
        </li>
    </ol>

    <li><h2>Registration</h2></li>
    <ol>
        <li>
            Registering an account on Furfolio implies that you are allowed to register
            such an account based on your age. In the United States, you must be 13 years
            or older. To consent to see adult content, you must be at least 18 years or older.
        </li>
        <li>
            You must provide truthful information when registering or updating your account.
            You must not knowingly provide false information.
        </li>
        <li>
            You must not impersonate or use vulgar or offensive usernames with an account.
        </li>
        <li>
            You must not transfer account ownership to a different individual. Never share your password to another individual.
        </li>
        <li>
            Furfolio has the right to update, remove, or suspend an account for any reason.
        </li>
        <li>
            You are allowed to create multiple accounts. You are not allowed to impersonate entities or people that are not you.
        </li>
        <li>
            Registration does not imply the right to abuse or overuse our systems.
            Automated bot accounts are allowed, but not for the use of attacking or disrupting our services.
            Automated bot accounts that disrupt or slow down our services will be removed.
        </li>
        <li>
            You are not allowed to attempt to collect or modify information that you are not authorized
            to view or change. This includes the use of any technique to accomplish such goals.
            The same applies to administration systems on Furfolio.
        </li>
        <li>
            You must not create accounts to reserve usernames.
        </li>
    </ol>

    <li><h2>User Created Content</h2></li>
    <ol>
        <li>
            Published user created content must be related, at least slightly, to anthropomorphism (or furry).
            Occasional non-furry content is allowed as long as it does not constitute the majority of your content.
        </li>
        <li>
            Some content on Furfolio may contain adult content. Unless a user is signed in and has
            consented to see adult content, adult content will not be shown.
            If it is determined that you may not be legally allowed to view adult content, we will 
            revoke consent to view adult content on your account until you can provide proof that
            you are 18 years or older.
        </li>
        <li>
            We have the right to publish, display, store, perform, distribute, and change user created content for the
            purpose of allowing Furfolio to provide its services. We do not have exclusive rights to your
            content. We cannot use derivate works of your content.
        </li>
        <li>
            Content that you create and published must be rated correctly. By default, content that you create
            is considered appropriate for a general audience. If your content contains adult content,
            you must label the content correctly. Failure to do so may result in action taken against your account
            such as warning or banning.
        </li>
        <li>
            The upload or encouragement of illegal activity or content is prohibited.
        </li>
    </ol>

    <li><h2>Content Guidelines</h2></li>
    <ol>
        <li>
            <p>
                There are two rating categories for content: <b>general</b> and <b>adult</b>.
            </p>
            <p>
                Content is assumed to be general by default and is considered adult when it satisfies
                <b>any</b> (at least one) of the criteria in the following table. Please note that the
                criteria requires interpretation to be applied to user generated content.

                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Aspect</th>
                            <th scope="col">Criteria</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        <tr>
                            <th scope="col">Violence</th>
                            <td>
                                <ul>
                                    <li>
                                        Depictions of fighting or other actions that result in close death
                                        or severe injury.
                                    </li>
                                    <li>
                                        Sexual assault or rape is present or implied.
                                    </li>
                                <ul>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Blood, Gore, and Fluids</th>
                            <td>
                                <ul>
                                    <li>
                                        Blood is shown in excess and could imply a severe injury such as loss
                                        of limbs, or a major laceration.
                                    </li>
                                    <li>
                                        Volumes or amounts of blood that implies death or severe injury.
                                    </li>
                                    <li>
                                        Depiction of bodily waste is present. Low detail and cartoonistic
                                        waste does not count as long as it is not the main focus of the content.
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Nudity</th>
                            <td>
                                <ul>
                                    <li>
                                        Depiction of genitals or uncovered breasts.
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Sexual Content</th>
                            <td>
                                <ul>
                                    <li>
                                        Content has sexual themes, contexts, or demonstrations.
                                    </li>
                                    <li>
                                        Contains fetish references,
                                        behavior, situations, discussions, or contexts.
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th scope="col">Language</th>
                            <td>
                                <ul>
                                    <li>
                                        Contains profanity used to describe sexual situations.
                                    </li>
                                    <li>
                                        Profanity is the major focus of the content.
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </p>
        </li>
        <li>
            Content that features or contains underage characters or humans in a sexual context
            is prohibited. This includes all depictions regardless if they are realistic or cartoony.
            If content contains underage characters or humans, it must be rated <b>general</b>.
            A character or human is considered underage by appearance or implication, not by a claim
            from the author of the content.
        </li>
        <li>
            The User Guidelines defined in this document are also used to determine
            if content is allowed to be on Furfolio.
        </li>
        <li>
            User avatars must be under the <b>general</b> rating.
        </li>
        <li>
            User profile pages must be under the <b>general</b> rating.
        </li>
    </ol>

    <li><h2>User Guidelines</h2></li>
    <ol>
        <li>
            Users on Furfolio must abide by the following guidelines when using our services
            and interacting with other users. These guidelines apply to interactions,
            content, and uploaded information. Users who violate these guidelines
            may be warned or banned from Furfolio.
        </li>
        <li>
            Hate speech, racism, and discrimination is not allowed.
        </li>
        <li>
            Creating spam commission requests is not allowed.
        </li>
    </ol>

    <li><h2>Website and Service Changes</h2></li>
    <ol>
        <li>
            Furfolio may change its website or services at any time, for any reason, and
            without notice. This includes, but is not limited to, stricter service limits,
            feature addition, feature changes, and feature removal.
        </li>
    </ol>

    <li><h2>Warranty and Liability</h2></li>
    <ol>
        <li>
            Unless mentioned elsewhere in this document, all services and content accessible
            on Furfolio is provided <b>as is</b>.
        </li>
        <li>
            Furfolio makes no warranties about
            the services provided. Furfolio disclaims any warranties that may be implied
            by its services.
        </li>
        <li>
            Furfolio is not responsible for any liability concerning any of the following:
            <ol>
                <li>Content published by users.</li>
                <li>Instructions published by users.</li>
                <li>Actions performed by users.</li>
                <li>Any third party action that we are not officially affiliated with.</li>
                <li>Misuse of the services provided by Furfolio and its effects to the users.</li>
                <li>Actions carried out due to other persons interpreting content published by users.</li>
                <li>Links that are published by other users anywhere on our website.</li>
                <li>Personal or business interactions between any users through, or not through, Furfolio.</li>
            </ol>
        </li>
    </ol>

    <li><h2>Support and Contact Information</h2></li>
    <ol>
        <li>
            Furfolio provides a support system for users of the website.
            It is primarily used to assist users in updating their information,
            mitigating the impact of bugs, and reporting violations of the user
            or content guidelines. Support tickets created through this system
            must be related to Furfolio.
        </li>
        <li>
            Because the support system is for registered and activated users,
            not all persons are able to use it. If this is the case, you may
            contact <code>{{ support_email }}</code> to ask for help. Only contact
            this email if you need help with an issue related to Furfolio.
        </li>
        <li>
            If you need to contact Furfolio for general reasons that are not related
            to support, you may contact <code>{{ info_email }}</code>.
        </li>
    </ol>
</ol>

{% endblock %}