{% extends "./help_page.html" %}

{% block breadcrumbs %}
{% include "furfolio/components/breadcrumbs.html" with breadcrumbs=breadcrumbs only %}
{% endblock %}

{% block title %}
Welcome to Furfolio!
{% endblock %}

{% block body %}
<p>
    Thank you for your interest in Furfolio and being a part of this community!
</p>

<h2>Furfolio in 30 seconds</h2>

<p>
    Users are either <b>Buyers</b> or <b>Creators</b>.
</p>

<p>
    Creators create <b>Offers</b>. They look like this:
</p>

<div class="my-5" style="pointer-events: none;">
    {% include "furfolio/offers/offer_card.html" with offer=example_offer use_example_thumbnail=True only %}
</div>

<p>
    A Buyer can request a <b>Commission</b> of an offer. A Commission looks like this:
</p>

<div class="my-5" style="pointer-events: none;">
    {% include "furfolio/commissions/commission_card.html" with commission=example_commission show_status=True  only %}
</div>

<div class="mb-3">
    Furfolio helps move the commission from
    <span>{% include "furfolio/commissions/state_badge.html" with state="REVIEW" only %}</span>
    to
    <span class="border rounded d-inline-block">{% include "furfolio/commissions/state_badge.html" with state="CLOSED" only %}</span>.

</div>

<p>
    <a href="{% url "what_is_furfolio" %}">Next: What is Furfolio?</a>
</p>

{% endblock %}