{% extends "./help_page.html" %}

{% block breadcrumbs %}
{% include "furfolio/components/breadcrumbs.html" with breadcrumbs=breadcrumbs only %}
{% endblock %}

{% block title %}
Welcome to Furfolio!
{% endblock %}

{% block body %}
<p>
    Thank you for signing up for Furfolio and being a part of this community!
</p>

<p>
    You are most likely here because you just created an account with us.
    Do not worry, this is a very short orientation before using Furfolio.
    We ask that you read these pages and use the links below to navigate this orientation.
    When finished, we will take you to your dashboard so you can start playing.
</p>

<p>
    <a href="{% url "what_is_furfolio" %}">Next: What is Furfolio?</a>
</p>

{% endblock %}