{% extends "./help_page.html" %}

{% block breadcrumbs %}
{% include "furfolio/components/breadcrumbs.html" with breadcrumbs=breadcrumbs only %}
{% endblock %}

{% block title %}
What is Furfolio?
{% endblock %}

{% block body %}
<p>
    Furfolio is an online commission management system that helps with the entire commission process.
</p>

<h3>Why Furfolio?</h3>

<p>
    Image an artist wanting to accept commissions for art they create; they may do the following tasks:
    <ul>
        <li>
            Announce they are open for commissions to followers.
        </li>
        <li>
            Open a survey page to accept commissions.
        </li>
        <li>
            Manually manage survey results to prevent being overloaded with requests.
        </li>
        <li>
            Track progress of commissions using different software.
        </li>
        <li>
            Manage channels of communication.
        </li>
        <li>
            Organize commissions and offers from the past and present.
        </li>
    </ul>

    Furfolio handles all of these tasks on one platform.
</p>

<h3>Who is it for?</h3>

<p>
    Furfolio has two main types of users: Creators and Buyers:
    <ul>
        <li>
            <b>Creators</b>: publish offers and work on commissions.
        </li>
        <li>
            <b>Buyers</b>: request commissions of offers.
        </li>
    </ul>
    
    Tools for <b>Creators</b>
    <ul>
        <li>
            Offer publication and notification
        </li>
        <li>
            Commission progress tracking and
            <a class="text-decoration-none" href="https://en.wikipedia.org/w/index.php?title=Kanban_board&oldid=1163094041#:~:text=Kanban%20boards%20visually%20depict%20work%20at%20various%20stages%20of%20a%20process%20using%20cards%20to%20represent%20work%20items%20and%20columns%20to%20represent%20each%20stage%20of%20the%20process.%20Cards%20are%20moved%20from%20left%20to%20right%20to%20show%20progress%20and%20to%20help%20coordinate%20teams%20performing%20the%20work.">
                kanban board
            </a>
        </li>
        <li>
            Automation to manage incoming commissions
        </li>
        <li>
            Communication channels to Buyers per commission
        </li>
        <li>
            Powerful commission search and filters
        </li>
        <li>
            Tracking commissions outside of Furfolio using self-managed commissions
        </li>
    </ul>

    Tools for <b>Buyers</b>
    <ul>
        <li>
            Offer search
        </li>
        <li>
            Progress tracking of commissions
        </li>
        <li>
            Communication to Creator per commission
        </li>
        <li>
            Consent to see NSFW (adult) offers
        </li>
    </ul>

    Furfolio does <b>NOT</b>
    <ul>
        <li>
            Handle payment between Buyers and Creators
        </li>
        <li>
            Act as a social media application
        </li>
    </ul>
</p>



{% endblock %}