{% extends "./help_page.html" %}

{% block breadcrumbs %}
{% include "furfolio/components/breadcrumbs.html" with breadcrumbs=breadcrumbs only %}
{% endblock %}

{% block title %}
What is Furfolio?
{% endblock %}

{% block body %}
<p>
    Furfolio is an online commission management system that understands the entire lifetime of the commission process.
</p>

<h3>Why Furfolio?</h3>

<p>
    Image this scenario:
    An artist wants to open commissions for drawing portraits of characters. To do this, the artist does the following tasks:
    <ul>
        <li>
            Mention they are open for commissions on social media platforms.
        </li>
        <li>
            Open a survey page to accept commissions.
        </li>
        <li>
            Open and publish a task tracker or kanban board to communicate progress to buyers.
        </li>
        <li>
            Establish and manage channels of communication between themselves and buyers.
        </li>
    </ul>

    Besides social media, Furfolio handles all of these scenarios as one application.
</p>

<h3>Who is it for?</h3>

<p>
    Furfolio has two main types of users: Creators and Buyers:
    <ul>
        <li>
            <b>Creators</b>: users who primarily publish offers indicating that they are open for commissions.
        </li>
        <li>
            <b>Buyers</b>: users who primarily request commissions of offers.
        </li>
    </ul>
    
    Tools for <b>Creators</b>
    <ul>
        <li>
            Offer publication
        </li>
        <li>
            Commission progress tracking and kanban board
        </li>
        <li>
            Various automated rules of limiting incoming commissions
        </li>
        <li>
            Communication between themselves and Buyers per commission
        </li>
        <li>
            Granular commission search
        </li>
        <li>
            Support for tracking out-of-band commissions via self-managed commissions
        </li>
    </ul>

    Tools for <b>Buyers</b>
    <ul>
        <li>
            Offer search
        </li>
        <li>
            Progress tracking of commissions
        </li>
        <li>
            Communication to Creator per commission
        </li>
        <li>
            Consent to NSFW (adult) offers
        </li>
    </ul>

    Furfolio does <b>NOT</b>
    <ul>
        <li>
            Handle payment between Buyers and Creators
        </li>
        <li>
            Act as a social media application
        </li>
    </ul>
</p>



{% endblock %}