{% comment "" %}
Includable state button.
This button will change the state of the commission passed into this template.
Expects the following context objects:
  - commission: the commission to change the state of when this button is pressed
  - request: the request object
  - csrf_token: the csrf token
{% endcomment %}

<form method="post" action="{% url "update_commission_status" commission.pk %}?next={{ request.get_full_path }}">
    {% csrf_token %}
    <input type="hidden" value="CLOSED" name="state">
    {% include "../close.html" %}
</form>