{% extends "base.html" %}

{% block content %}
<h1>Edit offer "{{ offer.name }}"</h1>

<div class="d-flex justify-content-end">
    <a href="{% url "delete_offer" offer.pk %}"><button class="btn btn-danger">Delete</button></a>
</div>

<form enctype="multipart/form-data" method="post" id="form">
    {% csrf_token %}
    {{ form }}
    <div class="d-flex align-items-center">
        <input class="btn btn-primary me-3" id="update-button" type="submit" value="Update">
        <a href="{% url "offer_detail" offer.pk %}">Cancel</a>
    </div>
</form>

{% include "furfolio/scripts/hide_on_submit.html" with form_id="form" id_to_hide="update-button" only %}

{% endblock %}