{% extends "base.html" %}

{% load query_replace%}
{% load static %}

{% block site_title %}
{% include "furfolio/website_title.html" with title="Offers" only %}
{% endblock %}

{% block content %}

{% if show_creator_functions %}
    {% include "./components/offer_actions.html" with username=request.user.username only %}
    <hr>
{% endif %}

<form method="get" class="mb-3">
    {{ search_form }}
</form>

<div class="d-flex flex-column">
    {% include "./offer_list_template.html" with offer_list=offer_list%}
</div>

{% if is_paginated %}
<div class="d-flex justify-content-center">
    {% include "furfolio/components/pagination_buttons.html" with page_obj=page_obj page_range=page_range request=request only %}
</div>
{% endif %}

{% endblock %}