{% extends "furfolio/layouts/title_body.html" %}

{% load static %}

{% block title %}
{{ offer.name }} by {% include "furfolio/users/badge.html" with user=offer.author show_avatar=True only %}
{% endblock %}

{% block body %}

    {% if offer.thumbnail %}
        <div class="d-flex justify-content-center mb-3">
            <img class="rounded border border-2 img-fluid" style="max-height: 40vh" src="{{ offer.thumbnail.url }}">
        </div>
    {% endif %}

    <div class="d-flex mb-3">
        <div>
            Slots: <b>{{ offer.get_active_commissions.count }}</b> / <b>{{ offer.slots }}</b>
        </div>
        <div class="flex-fill"></div>
        <div>
            Price: <b>{{ offer.get_currency_symbol }} {{ offer.min_price }}</b> - <b>{{ offer.max_price }}</b> {{ offer.get_iso_4217_currency_code }}
        </div>
    </div>

    {{ offer.description|linebreaks|urlize }}

    {% if offer.forced_closed %}
        <p>
            <b>Forced closed</b>
        </p>
    {% elif offer.is_closed %}
        <p>
            <b>Closed</b>
        </p>
    {% else %}
        <p>
            Closes in <b>{{ offer.cutoff_date|timeuntil }}</b> ({{ offer.cutoff_date }})
        </p>
    {% endif %}

    {% if request.user.pk == offer.author.pk %}
        <div>
            <a class="btn btn-primary mb-3" href="{% url "update_offer" offer.pk %}">Edit</a>
        </div>
        <div>
            <a class="btn btn-primary mb-3" href="{{ see_commissions_url }}">Commissions</a>
        </div>
    {% endif %}

    <div>
        {% if should_show_create_commission_button %}
            <a class="btn btn-primary d-inline-flex align-items-center" href="{% url "create_commission" offer.pk %}"><img class="me-2" src="{% static "symbols/plus-white.svg" %}" style="width: 1em;"> Request Commission</a>
        {% elif offer.is_closed %}
            <b>This offer is not accepting commissions because it is closed.</b>
        {% elif offer.has_max_review_commissions %}
            <b>This offer is not accepting commissions right now because it has the maximum number of commissions in review. Please try again later.</b>
        {% else %}
            <b>This offer is not accepting commissions at this time.</b>
        {% endif %}
    </div>

{% endblock %}