{% extends "furfolio/layouts/title_body.html" %}

{% load static %}

{% block title %}
{{ offer.name }} by {% include "furfolio/users/badge.html" with user=offer.author show_avatar=True only %}
{% endblock %}

{% block body %}
    {% if offer.thumbnail %}
        <div class="d-flex justify-content-center mb-3">
            <img class="rounded border border-2 img-fluid" src="{{ offer.thumbnail.url }}">
        </div>
    {% endif %}

    <div class="row">
        <div class="col-3 col-sm-2">
            Slots: 
        </div>
        <div class="col">
            <b>{{ offer.get_slot_info.get_capped_slots_taken }}</b> / <b>{{ offer.get_slot_info.max_slots }}</b>
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-sm-2">
            Price:
        </div>
        <div class="col">
            <b>{{ offer.get_currency_symbol }} {{ offer.min_price }}</b> - <b>{{ offer.max_price }}</b> {{ offer.get_iso_4217_currency_code }}
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-sm-2">
            Closure:
        </div>
        <div class="col">
            {% if offer.forced_closed %}
                <b>Forced closed</b>
            {% elif offer.is_closed %}
                <b>Closed</b>
            {% else %}
                Closes in <b>{{ offer.cutoff_date|timeuntil }}</b> ({{ offer.cutoff_date }})
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-3 col-sm-2">
            Rating: 
        </div>
        <div class="col">
            <b>{{ offer.get_rating_friendly }}</b>
        </div>
    </div>

    <hr>

    <div class="d-flex flex-wrap gap-3 align-items-center mb-3">
        {% if request.user.pk == offer.author.pk %}
            <div>
                <a class="btn btn-primary" href="{% url "update_offer" offer.pk %}">Edit</a>
            </div>
            <div>
                <a class="btn btn-primary" href="{{ see_commissions_url }}">Commissions</a>
            </div>
        {% endif %}

        {% if should_show_create_commission_button %}
            <div>
                <a class="btn btn-primary" href="{% url "create_commission" offer.pk %}">
                    <img class="me-2" src="{% static "symbols/plus-white.svg" %}" style="width: 1em;"> Request Commission
                </a>
            </div>
        {% endif %}
    </div>

    {{ offer.description|linebreaks|urlize }}

    {% if not should_show_create_commission_button %}
        {% if not request.user.is_authenticated %}
            <b><a href="{% url "login" %}?next={{ request.get_full_path|urlencode }}">Sign In</a> to request commissions.</b>
        {% elif offer.is_closed %}
            <b>This offer is not accepting commissions because it is closed.</b>
        {% elif offer.has_max_review_commissions %}
            <b>This offer is not accepting commissions right now because it has the maximum number of commissions in review. Please try again later.</b>
        {% else %}
            <b>This offer is not accepting commissions at this time.</b>
        {% endif %}
    {% endif %}


{% endblock %}