{% comment "" %}
Includable template.
Expects an offer object.
Expects a 'title_is_link':bool object
{% endcomment %}

<div class="card" style="max-width: 450px">
    {% if offer.thumbnail %}
    <img class="card-img-top bg-secondary" style="max-height: 40vh; object-fit: contain; " src="{{ offer.thumbnail.url }}">
    {% endif %}
    <div class="card-header d-flex align-items-center">
        <h5>
            {% if title_is_link %}
            <a class="text-decoration-none" href="{% url "offer_detail" offer.pk %}">{{ offer.name }}</a>
            {% else %}
            {{ offer.name }}
            {% endif %}
        </h5>
        <div class="flex-fill">
        </div>
        <div class="text-body-secondary ms-3">
            {% include "furfolio/users/badge.html" with user=offer.author only %}
        </div>
    </div>
    <div class="card-body">
        Cutoff date: {{ offer.cutoff_date }}
    </div>
</div>