{% extends "furfolio/layouts/title_body.html" %}

{% block title %}
Offers by {% include "furfolio/users/badge.html" with user=user show_avatar=True only %}
{% endblock %}

{% block body %}
    {% for offer in offers %}
    <div class="mb-3">
        {% include "./offer_card.html" with offer=offer title_is_link=True only %}
    </div>
    {% endfor %}

    {% if is_paginated %}
        {% include "furfolio/components/pagination_buttons.html" with page_obj=page_obj request=request only %}
    {% endif %}
{% endblock %}