{% comment "" %}
Includable comonent that has buttons and text that allow the managment of a
commission without goint into a full edit page.
Expects the following objects:
commission: the commission object to show
csrf_token: the csrf_token
request: the request object
{% endcomment %}

<div class="d-flex flex-wrap">
    <div class="flex-column me-5">
        <h6>Functions</h6>
        <div class="mb-1"><a class="text-reset" href="{% url "commission_chat" commission.pk %}">{% include "./chat/chat_button.html" %}</a></div>
    </div>
    <div class="flex-fill"></div>
    {% if request.user.pk == commission.offer.author.pk %}
        <div class="flex-column">
            <div>
                <h6>Change State</h6>
            </div>

            <div>
                {% if commission.state == "REVIEW" %}
                    <div class="me-1 mb-1">{% include "furfolio/commissions/state_buttons/state_setters/accept.html" with commission=commission request=request csrf_token=csrf_token only %}</div>
                    <div class="mb-3"></div>
                    <div class="me-1 mb-1" style="font-size: 0.8em">{% include "furfolio/commissions/state_buttons/state_setters/close.html" with commission=commission request=request csrf_token=csrf_token only %}</div>
                {% endif %}

                {% if commission.state == "ACCEPTED" %}
                    <div class="me-1 mb-1">{% include "furfolio/commissions/state_buttons/state_setters/in_progress.html" with commission=commission request=request csrf_token=csrf_token only %}</div>
                    <div class="mb-3"></div>
                    <div class="me-1 mb-1" style="font-size: 0.8em">{% include "furfolio/commissions/state_buttons/state_setters/review.html" with commission=commission request=request csrf_token=csrf_token only %}</div>
                    <div class="me-1 mb-1" style="font-size: 0.8em">{% include "furfolio/commissions/state_buttons/state_setters/close.html" with commission=commission request=request csrf_token=csrf_token only %}</div>
                {% endif %}

                {% if commission.state == "IN_PROGRESS" %}
                    <div class="me-1 mb-1" >{% include "furfolio/commissions/state_buttons/state_setters/close.html" with commission=commission request=request csrf_token=csrf_token only %}</div>
                    <div class="mb-3"></div>
                    <div class="me-1 mb-1" style="font-size: 0.8em">{% include "furfolio/commissions/state_buttons/state_setters/accept.html" with commission=commission request=request csrf_token=csrf_token only %}</div>
                {% endif %}

                {% if commission.state == "CLOSED" %}
                    <div class="me-1 mb-1">{% include "furfolio/commissions/state_buttons/state_setters/in_progress.html" with commission=commission request=request csrf_token=csrf_token only %}</div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>