{% comment "" %}
Includable card that shows commission information
Expects the following objects:
commission: the commission object to show
csrf_token: the csrf_token
request: the request object
{% endcomment %}

{% load static %}

<div class="card">
    <div class="card-header">
        <div class="card-title">
            <h6>
                {% include "furfolio/users/badge.html" with user=commission.commissioner only %} - <a class="text-decoration-none" href="{% url "commission_detail" commission.pk %}">{{ commission.offer.name }}</a>
            </h6>
        </div>
    </div>

    <div class="card-body">
        <div class="card-text">
            <p>
                {{ commission.initial_request_text }}
            </p>
        </div>
    </div>

    <div class="card-footer d-flex flex-wrap">
        <form method="post" action="{% url "update_commission_status" commission.pk %}?next={{ request.get_full_path }}">
            {% csrf_token %}
            <input type="hidden" value="REVIEW" name="state">
            {% include "./state_buttons/review.html" %}
        </form>

        <form method="post" action="{% url "update_commission_status" commission.pk %}?next={{ request.get_full_path }}">
            {% csrf_token %}
            <input type="hidden" value="ACCEPTED" name="state">
            {% include "./state_buttons/accept.html" %}
        </form>

        <form method="post" action="{% url "update_commission_status" commission.pk %}?next={{ request.get_full_path }}">
            {% csrf_token %}
            <input type="hidden" value="IN_PROGRESS" name="state">
            {% include "./state_buttons/in_progress.html" %}
        </form>

        {% if commission.state != "CLOSED" %}
            <form method="post" action="{% url "update_commission_status" commission.pk %}?next={{ request.get_full_path }}">
                {% csrf_token %}
                <input type="hidden" value="CLOSED" name="state">
                {% include "./state_buttons/close.html" %}
            </form>
        {% endif %}
    </div>

</div>