{% comment "" %}
Includable card that shows commission information
Expects the following objects:
commission: the commission object to show
csrf_token: the csrf_token
request: the request object
{% endcomment %}

{% load static %}

<div class="card">
    <div class="card-header">
        <div class="card-title d-flex align-items-center">
            <h5>
                {% include "furfolio/users/badge.html" with user=commission.commissioner only %} - <a class="text-decoration-none" href="{% url "commission_detail" commission.pk %}">{{ commission.offer.name }}</a>
            </h5>
            <div class="flex-fill"></div>
            <div class="d-flex flex-column">
                <div class="mb-1">
                    {% include "./state_badge.html" with commission=commission only %}
                </div>
                {% if commission.state != "CLOSED" %}
                <form action="{% url "update_commission_status" commission.pk %}?next={{ request.get_full_path }}" method="post">
                    {% csrf_token %}
                    <input type="hidden" value="CLOSED" name="state">
                    <button class="btn badge bg-black d-flex align-items-center"><img class="me-1" src="{% static "symbols/x-white.svg" %}" style="width: 12px;"> Close</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="card-text">
            <p>
                <b>Details:</b> {{ commission.initial_request_text }}
            </p>
            {% if commission.attachment %}
            <p>
                <b>Attachment:</b> <a class="text-decoration-none" href="{{ commission.attachment.url }}">{{ commission.attachment.name }}</a>
            </p>
            {% endif %}
        </div>
    </div>
</div>