{% extends "furfolio/layouts/title_body.html" %}

{% block title %}
Edit Commission: {% include "./commission_title.html" with commission=commission only %}
{% endblock %}

{% block body %}

<form enctype="multipart/form-data" method="post" id="form">
    {% csrf_token %}
    {{ form }}
    <div class="d-flex align-items-center">
        <input class="btn btn-primary me-3" type="submit" id="update-button" value="Save Changes">
        <a href="{% url "commission_detail" commission.pk %}">Cancel</a>
    </div>
</form>

{% include "furfolio/scripts/hide_on_submit.html" with form_id="form" id_to_hide="update-button" only %}

{% endblock %}