{% comment "" %}
Includable card that shows commission information
Expects the following objects:
commission: the commission object to show
csrf_token: the csrf_token
request: the request object
show_status: (bool) set to True if you want to show status badge
{% endcomment %}

{% load static %}

<div class="card">
    <div class="card-header">
        <div class="card-title d-flex">
            <h6>
                {% include "./commission_title.html" with commission=commission only %}
            </h6>
            <div class="flex-fill"></div>
            {% if show_status is True %}
                <div class="mb-1">
                    {% include "./state_badge_using_commission.html" with commission=commission only %}
                </div>
            {% endif %}
        </div>
    </div>

    <div class="card-body">
        <div class="card-text">
            <p>
                {{ commission.initial_request_text }}
            </p>
            {% if commission.attachment %}
            <a class="text-decoration-none" href="{{ commission.attachment.url }}" >{{ commission.attachment.name }}</a>
            {% endif %}
        </div>
    </div>

    <div class="card-footer">
        {% include "./commission_functions.html" %}
    </div>

</div>