{% comment "" %}
Includable component that has buttons and text that allow the managment of a
commission without going into a full edit page.
Expects the following objects:
  - commission: the commission object to show
  - csrf_token: the csrf_token
  - request: the request object
  - fill: (bool) if True, will put functions and state buttons as far apart as possible.
  - some_space_between_functions: (bool) if True, will force add margin between commission functions
  - next: (optional) when setting state of commission or submitting form, where to redirect to
{% endcomment %}

<div class="d-flex flex-wrap align-items-center">
    {% if commission.get_chat %}
        <div class="flex-column me-0">
            <div class="mb-1"><a class="text-reset" href="{% url "chat" commission.get_chat.pk %}">{% include "../chat/chat_button.html" %}</a></div>
        </div>
        {% if some_space_between_functions %}
            <div class="me-3"></div>
        {% endif %}
    {% endif %}

    {% if fill %}
        <div class="flex-fill"></div>
    {% endif %}

    {% if request.user == commission.offer.author %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle text-light" type="button" data-bs-toggle="dropdown">
                Change State
            </button>
            <div class="fs-5 dropdown-menu">
                {% if commission.state == "REVIEW" %}
                    <div class="m-3">{% include "furfolio/commissions/state_buttons/state_setters/accept.html" with commission=commission request=request csrf_token=csrf_token next=next only %}</div>
                    <div class="m-3">{% include "furfolio/commissions/state_buttons/state_setters/reject.html" with commission=commission request=request csrf_token=csrf_token next=next only %}</div>
                {% endif %}

                {% if commission.state == "ACCEPTED" %}
                    <div class="m-3 mb-4">{% include "furfolio/commissions/state_buttons/state_setters/in_progress.html" with commission=commission request=request csrf_token=csrf_token next=next only %}</div>
                    <div class="m-3" style="font-size: 0.65em">{% include "furfolio/commissions/state_buttons/state_setters/review.html" with commission=commission request=request csrf_token=csrf_token next=next only %}</div>
                {% endif %}

                {% if commission.state == "IN_PROGRESS" %}
                    <div class="m-3 mb-4" >{% include "furfolio/commissions/state_buttons/state_setters/close.html" with commission=commission request=request csrf_token=csrf_token next=next only %}</div>
                    <div class="m-3" style="font-size: 0.65em">{% include "furfolio/commissions/state_buttons/state_setters/accept.html" with commission=commission request=request csrf_token=csrf_token next=next only %}</div>
                {% endif %}

                {% if commission.state == "CLOSED" %}
                    <div class="m-3" style="font-size: 0.65em">{% include "furfolio/commissions/state_buttons/state_setters/in_progress.html" with commission=commission request=request csrf_token=csrf_token next=next only %}</div>
                {% endif %}

                {% if commission.state == "REJECTED" %}
                    <div class="m-3">{% include "furfolio/commissions/state_buttons/state_setters/accept.html" with commission=commission request=request csrf_token=csrf_token next=next only %}</div>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>