{% extends "base.html" %}

{% block content %}
<h2>
    Search Commissions
</h2>

<div class="mb-3">
    <form method="get">
    {{ form }}
    </form>
</div>

{% for commission in commissions %}
    <div class="mb-3">
        {% include "./commission_card.html" with commission=commission csrf_token=csrf_token request=request show_status=True show_avatars=True only %}
    </div>
{% endfor %}

{% if is_paginated %}
<div class="d-flex justify-content-center">
    {% include "furfolio/components/pagination_buttons.html" with page_obj=page_obj paginator=paginator page_range=page_range request=request only %}
</div>
{% endif %}

{% endblock %}