{% comment "" %}
Includable commission status badge.
Expects the following context objects:
  - state: an enum value of commission state.
{% endcomment %}

<div class="badge fs-6
{% if state == "REVIEW" %}
    bg-warning text-dark
{% elif state == "ACCEPTED" %}
    bg-success text-dark
{% elif state == "IN_PROGRESS" %}
    bg-info text-dark
{% elif state == "CLOSED" %}
    {# no background color #} text-reset
{% elif state == "REJECTED" %}
    bg-danger text-light
{% endif %}
">
    {% if state == "REVIEW" %}
    Review
    {% elif state == "ACCEPTED" %}
    Accepted
    {% elif state == "IN_PROGRESS" %}
    In Progress
    {% elif state == "CLOSED" %}
    Finished
    {% elif state == "REJECTED" %}
    Rejected
    {% endif %}
</div>