{% comment "" %}
Includable commission status badge.
Expects the following context objects:
  - commission: The commission to display the status for.
{% endcomment %}

<div class="badge text-reset fs-6
{% if commission.get_state.0 == "REVIEW" %}
    bg-warning
{% elif commission.get_state.0 == "ACCEPTED" %}
    bg-success
{% elif commission.get_state.0 == "IN_PROGRESS" %}
    bg-info
{% elif commission.get_state.0 == "CLOSED" %}
    {# no background color #}
{% endif %}
">
    {{ commission.get_state.1 }}
</div>